.gallery {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  /* height: 700px; */
}

.gallery img {
  width: 30%;
  height: 190px;
  border-bottom: 7px solid #da2b4c;
  margin-top: 40px;
  border-radius: 15px;
  transition: transform 0.7s;
  cursor: pointer;
}

.gallery img:hover {
  transform: scale(1.1);
}
